
@media only screen and (max-width: 1279px) and (min-width: 1140px) {
    .row {
      width: 1140px;
    }
  }
  @media only screen and (max-width: 1139px) and (min-width: 1024px) {
    .row {
      width: 1024px;
    }
  }
  @media only screen and (max-width: 1023px) and (min-width: 960px) {
    .row {
      width: 100%;
    }
  }
  @media only screen and (max-width: 959px) and (min-width: 768px) {
    .row {
      width: 100%;
    }
  }
  @media only screen and (max-width: 767px) and (min-width: 480px) {
    .row {
      width: 100%;
    }
  }
  @media only screen and (max-width: 479px) and (min-width: 370px) {
    .row {
      width: 100%;
    }
  }
  @media only screen and (max-width: 369px) {
    .row {
      width: 100%;
    }
  }
  