
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

h1 {
	font-weight: 700;
	font-style: normal
}

h2 {
	font-weight: 700;
	font-style: normal
}

h3 {
	font-weight: 700;
	font-style: normal
}

h4 {
	font-weight: 700;
	font-style: normal
}

h5 {
	font-weight: 700;
	font-style: normal
}

@media only screen and (min-width: 1400px) {
  .middleline {
    width: 1140px;
  }
}

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
  .middleline {
    width: 1140px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .middleline {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .middleline {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
  .middleline {
    width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .middleline {
    width: 100%;
  }
}
