@media only screen and (min-width: 1400px) {
  .middleline {
    width: 1140px;
  }
}

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
  .middleline {
    width: 1140px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .middleline {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .middleline {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
  .middleline {
    width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .middleline {
    width: 100%;
  }
}
